In [1]:
#Import modules
import pyodbc
import pandas as pd

In [2]:
#Connect to DB
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=jvsql02;'
                      'Database=DIVE;'
                      'Trusted_Connection=yes;')

#Select the data from the table
SQL_Query = pd.read_sql_query(
'''select * from DIVE.dbo.TCR_OGSYS_CAPEX_GENLEDGER''', conn)

In [3]:
#Convert the query to a data frame
df = pd.DataFrame(SQL_Query, columns=              
    [
        'Company_Code',  'Main_Account'
        , 'Sub_Account', 'Location_Type', 'Location_Code', 'Journal_Date', 'Code'
        ,'Posted', 'Include_in_Journal_Report', 'Present_in_Journal_Balance'
        , 'Accrual_Date', 'Include_in_Accrual_Report', 'Present_in_Accrual_Balance'
        , 'Cash_Date', 'Include_in_Cash_Report', 'Present_in_Cash_Balance'
        , 'Voucher_Code', 'Expense_Deck_Source_Serial', 'Revenue_Deck_Source_Serial'
        , 'Source_Module_Code', 'Description', 'Reference_Type', 'Reference', 'Entity_Type'
        , 'Entity_Code', 'Well_Code', 'AFE_Code', 'Expense_Deck_Code'
        , 'Expense_Deck_Version_Date', 'Expense_Deck_Change_Code', 'Expense_Deck_Interest_Total'
        , 'Reconciliation_Type', 'Reconciled_Trial', 'Reconciled', 'Generated_Entry'
        , 'Voucher_Uniqueness_ID', 'Gross_88ths_Volume'
        , 'Net_Volume', 'Gross_88ths_Value', 'Net_Value', 'Journal_Fiscal_Year'
        , 'Cash_Fiscal_Year', 'Accrual_Fiscal_Year', 'Entry_Group'
        , 'Entry_Sequence', 'Posting_Thread_ID', 'Posting_Task_ID', 'Cash_Date_Frozen'
        , 'Well_Allocation_Deck_Type', 'Well_Allocation_Deck_Code'
        , 'Well_Allocation_Product_Code', 'Well_Allocation_Purpose', 'Well_Allocation_Version_Date'
        , 'Well_Allocation_ID', 'Distribution_Company_Password_Accepted'
        , 'AccountNumber', 'AccountName'
    ])

In [4]:
#Show first 5 rows of data
df.head(5)

,Company_Code,Main_Account,Sub_Account,Location_Type,Location_Code,Journal_Date,Code,Posted,Include_in_Journal_Report,Present_in_Journal_Balance,...,Cash_Date_Frozen,Well_Allocation_Deck_Type,Well_Allocation_Deck_Code,Well_Allocation_Product_Code,Well_Allocation_Purpose,Well_Allocation_Version_Date,Well_Allocation_ID,Distribution_Company_Password_Accepted,AccountNumber,AccountName
0,10,100,1,,,2017-05-12,898601,Y,Y,Y,...,Y,,,,,NaT,0,N,100-1,CASH - COMERICA OPERATING
1,10,100,1,,,2017-05-15,898474,Y,Y,Y,...,Y,,,,,NaT,0,N,100-1,CASH - COMERICA OPERATING
2,10,100,1,,,2017-05-15,898475,Y,Y,Y,...,Y,,,,,NaT,0,N,100-1,CASH - COMERICA OPERATING
3,10,100,1,,,2017-05-24,898806,Y,Y,Y,...,Y,,,,,NaT,0,N,100-1,CASH - COMERICA OPERATING
4,10,100,1,,,2017-05-25,898802,Y,Y,Y,...,Y,,,,,NaT,0,N,100-1,CASH - COMERICA OPERATING

In [6]:
#see the dimensions of the data
#rows vs columns
df.shape

(259467, 57)

In [5]:
#List all the data columns and how much of it is not filled out
# 0 = Data filled out
# 100 = No Data
Df_DataFilled = pd.DataFrame(df.isna().mean().round(4) * 100)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(Df_DataFilled)

                                            0
Company_Code                             0.00
Main_Account                             0.00
Sub_Account                              0.00
Location_Type                            0.00
Location_Code                            0.00
Journal_Date                             0.00
Code                                     0.00
Posted                                   0.00
Include_in_Journal_Report                0.00
Present_in_Journal_Balance               0.00
Accrual_Date                             5.84
Include_in_Accrual_Report                0.00
Present_in_Accrual_Balance               0.00
Cash_Date                                2.05
Include_in_Cash_Report                   0.00
Present_in_Cash_Balance                  0.00
Voucher_Code                             0.00
Expense_Deck_Source_Serial               0.00
Revenue_Deck_Source_Serial               0.00
Source_Module_Code                       0.00
Description                              0.00
Reference_Type                           0.00
Reference                                0.00
Entity_Type                              0.00
Entity_Code                              0.00
Well_Code                                0.00
AFE_Code                                 0.00
Expense_Deck_Code                        0.00
Expense_Deck_Version_Date               96.69
Expense_Deck_Change_Code                 0.00
Expense_Deck_Interest_Total              0.00
Reconciliation_Type                      0.00
Reconciled_Trial                         0.00
Reconciled                               0.00
Generated_Entry                          0.00
Voucher_Uniqueness_ID                    0.00
Gross_88ths_Volume                       0.00
Net_Volume                               0.00
Gross_88ths_Value                        0.00
Net_Value                                0.00
Journal_Fiscal_Year                      0.00
Cash_Fiscal_Year                         0.00
Accrual_Fiscal_Year                      0.00
Entry_Group                              0.00
Entry_Sequence                           0.00
Posting_Thread_ID                        0.00
Posting_Task_ID                          0.00
Cash_Date_Frozen                         0.00
Well_Allocation_Deck_Type                0.00
Well_Allocation_Deck_Code                0.00
Well_Allocation_Product_Code             0.00
Well_Allocation_Purpose                  0.00
Well_Allocation_Version_Date            92.33
Well_Allocation_ID                       0.00
Distribution_Company_Password_Accepted   0.00
AccountNumber                            0.00
AccountName                              0.00